# Pandas Basics

## Creating Series:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
s=pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [2]:
print s

0    1
1    2
2    3
dtype: int64

In [4]:
df=np.random.randn(2,6)
df

array([[ 0.58672116, -1.24625596, -0.27062215, -0.27003503,  0.06207752,
        -0.8349563 ],
       [ 1.09455749,  0.46625849, -2.5573281 , -0.85107344,  0.46562903,
        -0.5423327 ]])

In [6]:
dataFrame=pd.DataFrame(np.random.randn(4,4),index=[5,6,7,8],columns=['A','B','C','D'])

In [7]:
dataFrame

          A         B         C         D
5  0.441646  0.199520 -0.276751  1.263168
6 -0.432952  1.233228  0.594892 -0.773566
7 -0.176303 -0.538349 -0.021295 -0.940846
8 -0.834579  0.331618 -1.938339  0.654716

In [9]:
dataFrame=pd.DataFrame(np.random.randn(4,4),index=pd.date_range('20171205',periods=4),columns=['A','B','C','D'])

In [10]:
dataFrame

                   A         B         C         D
2017-12-05 -0.018443  0.029908  0.205466 -0.553576
2017-12-06 -0.607135 -2.083355 -1.159376 -0.813358
2017-12-07  0.522846 -0.921677  1.018195 -1.403400
2017-12-08  1.628089 -0.855991 -1.074532  2.336631

In [11]:
df2 = pd.DataFrame({ 'A' : [1.0,2.0],
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....:

ValueError: arrays must all be same length

In [14]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....:

ValueError: array length 4 does not match index length 1

In [13]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [15]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : 2.,
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....:

In [16]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  2.0  3   test  foo
1  1.0 2013-01-02  2.0  3  train  foo
2  1.0 2013-01-02  2.0  3   test  foo
3  1.0 2013-01-02  2.0  3  train  foo

In [17]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : 2.,
   ....:                      'D' : np.array([3] * 5,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train",'extra']),
   ....:                      'F' : 'foo' })
   ....:

In [18]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  2.0  3   test  foo
1  1.0 2013-01-02  2.0  3  train  foo
2  1.0 2013-01-02  2.0  3   test  foo
3  1.0 2013-01-02  2.0  3  train  foo
4  1.0 2013-01-02  2.0  3  extra  foo

In [20]:
df2.head()
df2.tail(2)
df2.index
df2.columns
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 2.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 2.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 2.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 2.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 2.0, 3, 'extra', 'foo']], dtype=object)

In [21]:
print df2.head()
print df2.tail(2)
print df2.index
print df2.columns
print df2.values

     A          B    C  D      E    F
0  1.0 2013-01-02  2.0  3   test  foo
1  1.0 2013-01-02  2.0  3  train  foo
2  1.0 2013-01-02  2.0  3   test  foo
3  1.0 2013-01-02  2.0  3  train  foo
4  1.0 2013-01-02  2.0  3  extra  foo
     A          B    C  D      E    F
3  1.0 2013-01-02  2.0  3  train  foo
4  1.0 2013-01-02  2.0  3  extra  foo
RangeIndex(start=0, stop=5, step=1)
Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')
[[1.0 Timestamp('2013-01-02 00:00:00') 2.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 2.0 3 'train' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 2.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 2.0 3 'train' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 2.0 3 'extra' 'foo']]

In [24]:
df2.describe()

         A    C    D
count  5.0  5.0  5.0
mean   1.0  2.0  3.0
std    0.0  0.0  0.0
min    1.0  2.0  3.0
25%    1.0  2.0  3.0
50%    1.0  2.0  3.0
75%    1.0  2.0  3.0
max    1.0  2.0  3.0

In [25]:
df2.sort_index()

     A          B    C  D      E    F
0  1.0 2013-01-02  2.0  3   test  foo
1  1.0 2013-01-02  2.0  3  train  foo
2  1.0 2013-01-02  2.0  3   test  foo
3  1.0 2013-01-02  2.0  3  train  foo
4  1.0 2013-01-02  2.0  3  extra  foo

In [27]:
df2.sort_values(by='E')

     A          B    C  D      E    F
4  1.0 2013-01-02  2.0  3  extra  foo
0  1.0 2013-01-02  2.0  3   test  foo
2  1.0 2013-01-02  2.0  3   test  foo
1  1.0 2013-01-02  2.0  3  train  foo
3  1.0 2013-01-02  2.0  3  train  foo